layout pipenv

# Temp

if [[ "$shaivya" == "true" ]]; then
export GIT_AUTHOR_NAME="Shaivya Anand"
export GIT_COMMITTER_EMAIL=shahyadri@gmail.com
export GIT_AUTHOR_EMAIL=shahyadri@gmail.com
fi


if [[ "$amrita" == "true" ]]; then
    export GIT_AUTHOR_NAME="Amrita Goswami"
    export GIT_COMMITTER_EMAIL=amrita16thaug646@gmail.com
    export GIT_AUTHOR_EMAIL=amrita16thaug646@gmail.com
fi
